.pop_title
{
background:#dadada; 
width:100%; 
height:20px; 
border-bottom:1px solid #cccccc; 
font-size:14px; 
font-weight:bold; 
text-align:center;
padding-top:0px;
}
.pop_txt
{

background:url(images/text_bg.gif) repeat-x;
border:1px solid #ccc;
}
.pop_but
{
background:url(images/log_in.gif);
width:60px;
height:25px;
text-align:center;
border:1px solid #666;
}
.registerfrm{font-size:13px; color: maroon;}
.capps{visibility:hidden; color: green;}

.tablefield{
font-family: Monaco, Verdana, Sans-serif; 
font-size: 12px;
background-color: #f9f9f9;
border: 1px solid #D0D0D0;
color: #002166;
width:85%
}
.innertable{
font-family: Monaco, Verdana, Sans-serif; 
font-size: 12px;
background-color: #f9f9f9;
color: #002166;
width:80%
}
.spn
{
 color:red;
 
}